.m-hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000;
  color: #7A8991;
  line-height: 1;
}
.hljs-attribute {
  color: #b90921;
}
.hljs-string {
  color: #558630;
}
.hljs-number {
  color: #b2661f;
}
.hljs-literal {
  color: #b2661f;
}
